@import url(https://fonts.googleapis.com/css?family=Labrada:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
        
        html, body {
          background-image:url(./images/bg.jpg);
          background-size:cover;
          background-repeat: no-repeat;
          background-attachment: fixed;
          width: 100vw;
          height: fit-content;
          }

        .hero img{
            height: 70vh;
        }
        .hero img{
          position: relative;
          margin: auto;
          display: flex;
          justify-content: center;
            width: 100vw;
            height: 90vh;
        }
        .testimonials h2{
            color: aliceblue;
            margin-top: 1rem;
            background-blend-mode: luminosity;
        }
        #carousel2021 img, #carousel2022 img, #carousel2023 img {
            border-radius: 10px;
            height: 35rem;
            object-fit: cover;

        }
         /* Glowing Animation */
        .glow h1 {
            position: relative;
            font-size: 3em;
            color: #61304B;
            background-color: #61304B;
        }

        .glow h1::before {
            content: attr(data-text);
            position: absolute;
            white-space: nowrap;
            color: white;
            overflow: hidden;
            border-right: 4px solid white;
            animation: animate 5s linear infinite;
            filter: drop-shadow(0 0 20px white) drop-shadow(0 0 50px white);
            text-align: center;
        }

        @keyframes animate {
            0%, 10%
            {
                width: 0;
            }
            100% {
              width: 35%;
            }
        }
        .asked {
            height: 110vh;
        }
        .question {
            margin: 0 100px;
            height: fit-content;
            padding: 20px;
        }
        .text-lead {
          margin: 20px 0;
        }
        .accordion-item {
            background-color: #D9D9D9;
            padding: 5px;
        }
        .accordion-body {
            height:fit-content;
            align-items: center;
            font-size: larger;
            font-weight: 500;
            margin: 2rem;
            text-align: justify;
            font-style: italic;
        }

        @media (min-width: 320px) and (max-width: 600px) {
          .hero img {
            height: 40vh;
          }
          .glow h1 {
            margin: 0;
            font-size: 1.5rem;
          }
          @keyframes animate {
              0%, 10%
              {
                  width: 0;
              }
              100% {
                width: 70%;
              }
            }
            #carousel2021 img, #carousel2022 img, #carousel2023 img {
              height: 30rem;
            }
            .testimonials {
              padding: 1rem 2rem 0 2rem !important;
              margin: 0 !important;
            }

            .testimonials h2{
              padding: 1rem 0 3rem 0;
              margin: 0 !important;
            }
            .asked {
              height: 130vh;
              padding: 0 !important;
              margin: 0 !important;
            }
            .question {
              margin: 0;
            }
            .text-lead {
              padding: 0 !important;
            }
            .accordion-body {
              font-size: small;
            }
            footer {
              font-size: small;
            }
            footer .menu li a {
              font-size: small;
            }
        }
       
  
        @media (min-width: 601px) and (max-width: 991px) {
            .hero img{
              height: 70vh;
            }
            .testimonials {
              padding: 1rem 2rem 0 2rem !important;
              margin: 0 !important;
            }
            #carousel2021 img, #carousel2022 img, #carousel2023 img {
              height: 30rem;
              width: 20rem;
            }
            .asked {
              height: 135vh;
            }
            .accordion-body {
              font-size: small;
            }
            .testimonials h2{
              color: aliceblue;
              margin: 1rem 0 3rem 0;
            }
            @keyframes animate {
              0%, 10%
              {
                  width: 0;
              }
              100% {
                width: 100%;
              }
            }
        }
            @media (min-width: 1200px) {
                .hero img{
                    height: 100vh;
                }
                .asked {
                    height: 125vh;
            }
        }
            